body{
    font: 15px/1.5 Arial, Helvetica,sans-serif;
    padding:0;
    margin:0;
    background-color:#f4f4f4;
  }
  
  /* Global */
  .container{
    width:80%;
    overflow:hidden;
    margin:auto;
  }
  
  ul{
  margin-top: -10px;
  }
  
  ul{
  margin-top: -8px;
  }
  
  .button_1{
  height: 40px;
  width: 90px;
  background-color: #254a64;
  color: #ffffff;
  }
  
  .dark{
  background-color: #784f19;
  margin-left: 30px;
  padding: 10px;
  }
  
  /* Header **/
  header{
    background:#060606;
    color:#ffffff;
    padding-top:30px;
    min-height:70px;
    border-bottom:#e8491d 3px solid;
  }
  
  header a{
    color:greenyellow ;
    text-decoration:inherit;
    text-transform:uppercase ;
    font-size:auto;
  }
  
  header li{
    float:left;
    display: inline-block;
    padding: 15px;
  }
  
  header #branding{
    float:left;
  }
  
  header #branding h1{
    margin: 5px;
    font-size: 35px;
  }
  
  header nav{
    float:right;
    margin-top:18px;
  }
  
  header .highlight, header .current a{
    color:green;
    font-weight: bolder;
    
  }
  
  header a:hover{
    color:rgb(12, 12, 12);
    font-weight:bolder;
  }
  
  /* Showcase */
  #showcase{
    
    background: url('../img/photo.png.jpg') no-repeat 0 -400px;
    color:#ffffff;
    padding-top:50px;
    min-height:60px;
    
  }
  
  #showcase h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    color: aquamarine;
  
  }
  
  #showcase p{
    float: right;
    margin-top: -90px;
    font-family: 'Courier New', Courier, monospace;
    color: aquamarine;
  }
  #nguyen{
    margin: 350px;
    background-color: rgb(122, 112, 99);
  }
  
  
  /* Newsletter */
  #newsletter{
        padding:15px;
        background-color: #a08a98;
  }
  
  #newsletter h1{
        float: left;
        color: rgb(255, 255, 255);
  }
  
  #newsletter form {
        float: right;
        margin-top:15px;
  
  }
  
  #newsletter input[type="email"]{
    padding:4px;
    height: 30px;
    width: 250px;
        
  }
  
  /* Boxes */
#boxes{
  margin-top:20px;
}

#boxes .box{
  float:left;
  text-align: center;
  width:30%;
  padding:10px;
}

#boxes .box img{
  width:150px;
}
  
  /* Sidebar */
  aside#sidebar{
    float: right; 
    padding: 60px;
    margin-top: -40px;
    width: 350px;
    
    
  }
  
  aside#sidebar .quote input, aside#sidebar .quote textarea{
    width: 270px;
    
  }
  
  /* Main-col */
  article#main-col{
  width: 60%;
  display: inline-block;  
  }

/* Services */
ul#services li{
    padding: 20px;
    border: rgb(157, 159, 157) solid 1px;
    list-style-type: none;
    background-color: rgb(249, 248, 245);
    margin: 7px;
}

footer{
    padding:20px;
    margin-top:20px;
    color:#ffffff;
    background-color:#a95741;
    text-align: center;
  }
  /* Media Queries */
@media(max-width: 768px){

  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar{
    float:none;
    text-align:center;
    width:100%;
  }

  header{
    padding-bottom:20px;
  }

}

{box-sizing: border-box;}

/* Nút Để Mở Chatbox */
.nut-mo-chatbox {
  background-color: #000000;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* Ẩn chatbox mặc định */
.Chatbox {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Thêm style cho form */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}


.form-container textarea {
  width: 100%;
  padding: 5px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 100px;
}

/*thiết lập style cho textarea khi được focus */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Sthiết lập style cho nút trong form*/
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}


.form-container .nut-dong-chatbox {
  background-color: red;
}


.form-container .btn:hover, .nut-mo-chatbox:hover {
  opacity: 1;
}



